<div class="row m-2">
    <div class="col-6">
        <app-dona [titulo]="'Test1'" [chartData]="doughnutChartData" [chartLabel]="doughnutChartLabels"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [titulo]="'Test2'" [chartData]="doughnutChartData" [chartLabel]="doughnutChartLabels"></app-dona>
    </div>
</div>
<div class="row m-2">
    <div class="col-6">
        <app-dona [titulo]="'Test3'" [chartData]="doughnutChartData" [chartLabel]="doughnutChartLabels"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [chartData]="doughnutChartData" [chartLabel]="doughnutChartLabels"></app-dona>
    </div>
</div>